<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
</head>
<body class="bg-slate-950 text-white">

<nav class="p-4 flex justify-between border-b border-white/10">
    <span>Welcome {{ user.username }}</span>
    <a href="/logout" class="text-red-400">Logout</a>
</nav>

<div class="p-8">

    <h2 class="text-2xl mb-4">Balance: KES {{ user.balance }}</h2>

    {% if user.role in ['employer','admin'] %}
        <a href="/post_job" class="bg-yellow-500 text-black px-4 py-2 rounded">Post Job</a>
    {% endif %}

    <h3 class="mt-8 mb-4 text-xl">Jobs</h3>

    {% for job in jobs %}
    <div class="bg-black p-4 mb-4 rounded flex justify-between">
        <div>
            <p class="font-bold">{{ job.title }}</p>
            <p>KES {{ job.salary }}</p>
        </div>

        <a href="/apply/{{ job.id }}" class="bg-white text-black px-4 py-2 rounded">
            Apply
        </a>
    </div>
    {% endfor %}

</div>

</body>
</html>
