<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white flex justify-center items-center min-h-screen">

<form method="POST" class="bg-slate-900 p-10 rounded space-y-4 w-full max-w-md">
    <h2 class="text-xl font-bold">Post Job</h2>

    <input name="title" placeholder="Job Title" required class="w-full p-3 bg-black border rounded">
    <input name="salary" placeholder="Salary" required class="w-full p-3 bg-black border rounded">

    <button class="w-full bg-yellow-500 text-black p-3 rounded">Post</button>
</form>

</body>
</html>
